/*main*/
.main{width:960px;margin:8px auto 0; background:url(../images/bodybg.gif) no-repeat 640px 0;}
.content{width:636px;float:left;}
.sidebar{width:298px;float:right;}
/*title*/
.subnav a{ color:#2e6291;}
.title{width:636px; text-align:center; margin-bottom:12px;}
.title h3{ font-family:"宋体"; font-size:18px; padding:15px 0px; color:#ba0005;}
.title .author a{color:#ba0005;}
.title .gray{ color:#7e7c7d;}
.title ul{ margin:0 auto; width:500px; height:30px;}
.title ul li{ float:left; background:url(../images/line02.gif) no-repeat right bottom; padding:0 5px;}
.title ul li a{ color:#2e6291;}
.title ul li i{display: inline-block;width: 20px;height: 20px;}
.title ul li i.icon_1{background:url(../images/icon_1.gif) no-repeat center;}
.title ul li i.icon_2{background:url(../images/icon_2.gif) no-repeat center;}
.title ul li i.icon_5{background:url(../images/icon_5.gif) no-repeat center;}
.title ul li.nobg{background:none;}
/*article*/
.article{background:#f4f4f4; border:#adadad 1px solid; line-height:21px; padding:20px 0;}
.article .chapter{width:583px; margin:10px auto;background: url(../images/chapterbg.gif) center bottom no-repeat;}
.article .name{ width:520px;text-align:center; margin:10px auto 0px;line-height:30px;}
.article h4{ display:inline; font-size:14px; color:#000;}
.article .attention a{ color:#bd2301; text-decoration:none;}
.article .text{width:535px; margin:0 auto; margin-bottom:9px; font-family:"宋体"; color:#000;}
.article ul{width:520px; margin:0 auto; margin-bottom:10px;}
.article ul li{float:left; width:250px; background:url(../images/line.gif) repeat-x 0 19px; height:24px; padding-left:5px; overflow:hidden;}
.article ul a{color:#2e6291; text-decoration:none;}
.article ul a:visited{ color:#7e7c7d;}
/*navBottom*/
.navBottom{ width:636px; text-align:center; font-size:14px; color:#b1b1b1; margin:20px 0;}
.navBottom a{color:#ba0005; text-decoration:underline; padding:0 10px;}
/*column*/
.column{width:296px;float:left;margin:0 0 16px 0px; padding-bottom:8px; border:1px solid #f2f2f2;background:#fffcf3;}
.column h3{width:260px;margin:16px auto 0;padding:10px 5px 0 5px;height:18px; text-align:right;font-size:12px;font-weight:normal; border-bottom:1px solid #e5e5e3; background:url(../images/guanzhutt.gif) no-repeat left top;}
.column h3 a{color:#e99e41;}
.column h4{font-size:12px;}
.column dl{width:270px;float:left;padding:11px 0;margin-left:15px; background:url(../images/line.gif) repeat-x left bottom;}
.column dl.nobg{background:none;}
.column dl img{border:1px solid #c9cecd;background:#fff;padding:1px;}
.column dl dt{width:75px;float:left;padding:0 0 0 5px;}
.column dl dd{width:170px;float:left;line-height:20px;}
.column dl dd.txt{padding-left:15px;width:195px;line-height:16px; background:url(../images/icon01.gif) no-repeat left top;}
.column dl dd a,.guanzhu dl dd a:hover{color:#ba0005;}
.column dl dd img{ border:0;}
.column h3.title01{background: url(../images/columntt01.gif) no-repeat left top;}
.column h3.title02{background: url(../images/columntt02.gif) no-repeat left top;}
.column h3.title03{background: url(../images/columntt03.gif) no-repeat left top;}

/*.column{width:296px;float:left;margin:0 0 16px 0px;display:inline;padding-bottom:8px; border:1px solid #f2f2f2;background:#fffcf3;}
.column h3{width:260px;margin:16px auto 0;padding:10px 5px 0 5px;height:18px; text-align:right;font-size:12px;font-weight:normal; border-bottom:1px solid #e5e5e3;}
.column h3.title01{background: url(../images/columntt01.gif) no-repeat left top;}
.column h3.title02{background: url(../images/columntt02.gif) no-repeat left top;}
.column h3.title03{background: url(../images/columntt03.gif) no-repeat left top;}
.column h3 a,.column h3 a:hover{color:#e99e41;}
.column ul{width:270px;margin:0 auto;padding-top:10px;}
.column ul li{width:260px; height:22px;padding:7px 0 0 10px; background:url(../images/line.gif) repeat-x left bottom;}
.column ul li img{margin:0 5px 0 3px;}
.column ul li .num{ font-weight:bold; display:block; width:24px;}
.column ul li .tag a{color:#ba0005;}
.column ul li .time{color:#b2b2b2;}
.column ul li span{ float:left;}
.column ul li a{color:#2e6291;margin:0 3px;float:left;}
.column ul li.nobg{background:none;}*/
/*guanzhu*/
.guanzhu{width:296px;float:left;margin:0 0 16px 0px; padding-bottom:8px; border:1px solid #f2f2f2;background:#fffcf3;}
.guanzhu h3{width:260px;margin:16px auto 0;padding:10px 5px 0 5px;height:18px; text-align:right;font-size:12px;font-weight:normal; border-bottom:1px solid #e5e5e3; background:url(../images/guanzhutt.gif) no-repeat left top;}
.guanzhu h3 a{color:#e99e41;}
.guanzhu h4{font-size:12px;}
.guanzhu dl{width:270px;float:left;padding:11px 0;margin-left:15px; background:url(../images/line.gif) repeat-x left bottom;}
.guanzhu dl.nobg{background:none;}
.guanzhu dl img{border:1px solid #c9cecd;background:#fff;padding:1px;}
.guanzhu dl dt{width:75px;float:left;padding:0 0 0 5px;}
.guanzhu dl dd{width:170px;float:left;line-height:20px;}
.guanzhu dl dd.txt{padding-left:15px;width:195px;line-height:16px; background:url(../images/icon01.gif) no-repeat left top;}
.guanzhu dl dd a,.guanzhu dl dd a:hover{color:#ba0005;}
.guanzhu dl dd img{ border:0;}

/*ad*/
.ad_box { loat:left;  text-align:center; width:298px; margin-bottom:15px; }

/*footer*/
.footer{width:960px;margin:0 auto;padding:15px 0;line-height:25px; text-align:center;font-family:Arial;background:url(../images/footer.gif) repeat-x left top; }
.footer a{margin:0 10px;}

.navad{width:960px;margin:-28px auto 0; padding-top:35px;}