*{margin:0;padding:0;list-style:none;}select,input {font-size:12px; padding-top:10px;}img {border:0;}
a{color:#000004;text-decoration:none;}a:hover {color:#000004;text-decoration:underline;}em {font-style:normal;}
body{font-size:12px;font-family:"宋体",Arial;}
.blue{color:#000;background:#f3f4ff;}
.yellow{color:#660000;background:#fff5d6;}
.green{color:#265800;background:#f8f7ed;}
.purple{color:#660066;background:#fedbef;}
.red{color:#660000;background:#fff1e1;}
.black{color:#ffffcc;background:#52443c;}
.clear{clear:both;font-size:1px;line-height:1px;}
.topnav{height:21px;padding:9px 24px 0 24px; text-align:right;background:url(http://js.kucaimi.cn/mb01/png/topnav.jpg) repeat-x;}
.topnav a,.topnav a:hover{color:#676566;text-decoration:none;}
.logo{float:left;margin:-7px 0 0 0;}
.topnav ul{float:left;color:#ddd;padding:0 0 0 20px;}
.topnav ul li{float:left;padding-left:9px;}
.topnav ul li.book{position:relative;}
.topnav ul li.book a{cursor:pointer;padding-right:11px;background:url(http://js.kucaimi.cn/mb01/png/downarrow.gif) no-repeat right center;}
.topnav ul li a{margin-right:9px;}
.topnav .booktxt{display:none; width:110px;text-align:left;padding-top:16px;left:-30px;top:5px; position:absolute;background:url(http://js.kucaimi.cn/mb01/png/long.gif) no-repeat 0px 10px;}
.topnav .booktxt .bg{border:1px solid #dedede;border-top:0;padding:5px 0; background:#fff;}
.topnav ul li .booktxt span{line-height:22px;display:block;}
.topnav ul li .booktxt span a{background:none;padding:0 0 0 10px;margin-right:0px;display:block;width:98px;}
.topnav ul li .booktxt span a:hover{background:#f5f5f5;color:#ff6501;}
.login{float:right;}
.topnav em{color:#cd352a;float:left;}
.topnav strong{margin:0 17px;padding-right:10px;cursor:pointer;position:relative;float:left; background:url(http://js.kucaimi.cn/mb01/png/downarrow.gif) no-repeat right center;}
.person{display:none; width:80px;text-align:left;padding-top:16px;position:absolute;left:-10px;top:5px;background:url(http://js.kucaimi.cn/mb01/png/short.gif) no-repeat 0px 10px;}
.person .bg{border:1px solid #dedede;border-top:0;padding:5px 0; background:#fff;}
.person span{line-height:22px;display:block;}
.person span a{background:none;margin-right:0px;text-align:center;font-weight:normal; display:block;width:78px;}
.person span a:hover{background:#f5f5f5;color:#ff6501;}
.toproad{height:24px;margin:25px 17px 10px 20px;line-height:24px;}
.roadl{float:left;color:#000; font-family:Arial, sans-serif;}
.roadl a,.roadl a:hover{color:#297da1;}
.toproad ul{float:right;}
.toproad ul li{float:left;line-height:24px;padding-left:10px;margin-left:5px; background:url(http://js.kucaimi.cn/mb01/png/road.gif) no-repeat 0 0;}
.toproad ul li a{float:left;padding-right:10px; color:#ca3400;background:url(http://js.kucaimi.cn/mb01/png/road.gif) no-repeat right top;}
.toproad ul li a:hover{color:#ca3400;text-decoration:none;}
.funcbar{text-align:right;color:#333;border:1px solid #ffebda;line-height:32px; margin:0 16px;padding:0 13px 0 13px;background:#fff;}
.chcolor{float:left;height:22px;overflow:hidden; background:url(http://js.kucaimi.cn/mb01/png/chcolor.gif) no-repeat 94px 8px;}
.chcolor strong{float:left;}
.chcolor span{width:13px;height:13px;margin:8px 3px 0 0;cursor:pointer;overflow:hidden;display:block;text-indent:-9999px;font-size:1px; float:left;background:url(http://js.kucaimi.cn/mb01/png/chcolor.gif) no-repeat 94px 0;}
.chcolor span.current{width:15px;margin-right:3px;}
#theme1.current{background-position:3px -11px;}
#theme2.current{background-position:-12px -11px;}
#theme3.current{background-position:-29px -11px;}
#theme4.current{background-position:-45px -11px;}
#theme5.current{background-position:-61px -11px;}
#theme6.current{background-position:-77px -11px;}
.chsize{float:left;padding-left:22px;}
.chsize strong{float:left;}
.chsize span{padding:0 3px 0 4px;cursor:pointer; text-align:center;line-height:17px;margin:6px 5px 0 0; float:left;border:1px solid #c9c9c9;background:#f5f5f5;}
.chsize span.current{background:#fff;}
.main{padding:20px 25px 0 30px;}
.content{ float:left; width:80%}
.content h1{font-size:28px;text-align:center;color:#990100;padding-top:10px; clear:both;}
.content h1 a{color:#990100;}

.content h2{font-size:20px;text-align:center;color:#6b6295;padding-top:10px; clear:both;}
.content h3{font-size:18px;text-align:center;color:#990100;padding:15px 0 11px 0; clear:both;}
.subtt{text-align:center;color:#858585; font-size:12px; }
.subtt_1{text-align:center;color:#333; padding:15px 0 0 0; font-size:16px; font-weight:bold;}
.subtt_2{text-align:center;color:#858585; padding:15px 0 0 0; font-size:12px;}
.txt{ line-height:1.8em; padding:15px;}
/*.txt p{text-indent:2em;}*/
.txt p{ font-family:"微软雅黑"; color:#333; font-size:19px; padding-top:15px; line-height:1.8;}
.page{text-align:center;color:#afb0b2;margin:50px auto 20px;width:270px;}
.page a{color:#cb3400;text-decoration:underline;float:left;margin-bottom:10px; line-height:24px;width:87px;text-align:center;}
.page a.prev{text-decoration:none;background:url(http://js.kucaimi.cn/mb01/png/road.gif) no-repeat;}
.page a.prev_n{text-decoration:none;background:url(http://js.kucaimi.cn/mb01/png/road_n.gif) no-repeat;}

.page a:hover{color:#cb3400;}
.guide{border-top:1px solid #fddbbf;padding-top:12px; clear:both}
.guide ul{height:20px;color:#ccc;width:530px;margin:0 auto;}
.guide ul li{float:left; height:20px;padding-left:8px;}
.guide ul li a,.guide ul li a:hover{color:#2a7ca2;}
.guide ul li i{display: inline-block;width: 20px;height: 20px;margin-right:3px;vertical-align:text-bottom;}
.guide ul li i.icon_1{background:url(../images/icon_1.gif) no-repeat center;}
.guide ul li i.icon_2{background:url(../images/icon_2.gif) no-repeat center;}
.guide ul li i.icon_5{background:url(../images/icon_5.gif) no-repeat center;}
.guide ul li a{margin-right:8px;}
.rank{color:#bbb;text-align:center;padding-top:30px;}
.rank a,.rank a:hover{color:#cb3400;text-decoration:underline;}
.comment{clear:both;  }
.comment .title img{vertical-align:text-bottom;margin:0 8px 0 35px;}
.comment .title a{color:#2a7ca2;}
.comment .title strong{color:#cb3400;}
.comment label{display:block;color:#767779;line-height:23px;margin-top:7px;}
.comment label input{vertical-align:middle;width:460px;height:20px;border:1px solid #dcdcdc;background:#fff;}
.comment label textarea{width:460px;height:112px;border:1px solid #dcdcdc;background:#fff; vertical-align:top;}
.comment .sent{ margin:12px 0 0 35px; display:block; width:82px;}
.readbtn{width:15px;padding:7px 6px 0 4px;font-weight:bold;color:#c30;height:64px;overflow:hidden;position:absolute;top:10px;left:-22px;cursor:pointer;background:url(http://js.kucaimi.cn/mb01/png/readbtn.gif) no-repeat; display:none;}
.sidemod{width:170px;padding-bottom:10px;clear:both;}
.sidemod h3{padding:5px 0 3px 5px; font-size:14px;font-weight:normal;color:#833300;border-bottom:1px solid #8a8c8b;}
.sidemod h3 a{font-size:12px;color:#1967b2;}
.sidemod ul{color:#1967b2;padding-top:3px;}
.sidemod ul li{padding:4px 4px 5px 0; background:url(http://js.kucaimi.cn/mb01/png/line.gif) repeat-x left bottom;}
.sidemod ul li.nobg{background:none;}
.sidemod ul li a,.sidemod ul li a:hover{color:#1967b2;}
.sidemod dl{width:170px;padding:6px 0 8px 0;color:#878787;float:left;background:url(http://js.kucaimi.cn/mb01/png/line.gif) repeat-x left bottom;}
.sidemod dl dt{float:left;width:55px;height:76px;padding-left:4px;}
.sidemod dl dt img{border:1px solid #000;display:block; width:53px; height:74px;}
.pductmod dl dd{float:left;}
.sidemod dl.nobg{background:none;}
.lt02{float:left;width:98px;padding:2px 0 0 6px;line-height:18px;}
.lt02 a,.lt02 a:hover{color:#1967b2;}
.lt02 strong{font-weight:normal;display:block;}
.lt02 span{display:block;}
.lt03{display:none;}
.sidemod dl.bg{width:170px;padding:4px 0 5px 0;}
.bg dt{display:none;}
.bg .lt02{display:none;}
.bg .lt03{display:block;color:#1967b2;}
.bg .lt03 a,.bg .lt03 a:hover{color:#1967b2;}
.ad{clear:both;margin:0 auto;width:960px;}
.zj_list { padding:15px 0px 15px 0px;} 
.zj_list ul {padding:0px; margin:0px; width:100%}
.zj_list li { float:left; width:230px; line-height:2em; border-bottom:#CCC dashed 1px; margin:0px; padding:0px 5px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.zj_list li a:hover { color:#833300 }

/*footer*/
.footer{margin:15px auto 0;width:960px;padding:15px 0;border-top:1px solid #e7e7e7;line-height:25px;text-align:center; }
.footer a{margin:0 10px;}

.txt_fj_list { padding-top:20px; border-top:#CCC solid 1px; }



/*tomnav*/
.tomnav{margin:1px auto 0;width:960px;height:31px;border-bottom:1px solid #9a9a9a;}
.tomnav a{color:#333;text-decoration:none;}.tomnav a:hover {color:#ba0005;text-decoration:underline;}
.tomnav ul{float:left;height:24px;margin-top:4px;padding-left:4px;}
.tomnav ul li{float:left;padding:0 7px 0 6px;line-height:24px;text-align:center;}
.tompass{float:right;width:557px;margin-top:-6px;}

/*sidebar*/
/*.sidebar{width:170px;padding-left:13px; position:absolute;top:20px;right:25px;background:url(http://js.kucaimi.cn/mb01/png/sideline.gif) no-repeat left top;}*/
.style_sidebar { border:1px solid #BBBCBC;float:right;margin:15px 0 0 0;width:19%;overflow:hidden;}
.style_sidebar .box_title {
    background: url("/style/images/bg.png") repeat scroll 0 0 transparent;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    padding: 0 12px;
}
.style_sidebar .box_title .more {
    float: right;
}
.qspq { float:right; padding-right:10px;cursor: pointer; color: #004e00;}
#pcontent { height:170px;}
.labe1 {padding-left:10px;}
.sidemod dl.bg{width:170px;padding:4px 0 5px 0;}
.bg .item{display:block;color:#1967b2;}
.bg .item a,.bg .item a:hover{color:#1967b2;}

.quick_way {
    clear: both;
    margin: 15px 0 0 5px;
    text-align: center;
}
.quick_way .btn04 {
    margin: 0 0 7px;
}
.btn04 {
    background: url("http://js.kucaimi.cn/mb01/png/btn04.gif") no-repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    text-indent: 16px;
    width: 86px;
	font-size:12px;
	padding-top:0px;
}
.btn04:hover {
    color: #FF0000;
}

.list { padding:5px 5px 10px 10px;}

.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list ul li {
    clear: both;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}

.list ul li a {
    font-size: 14px;
}
.list ul li a.item {
    color: #777777;
    font-size: 12px;
    vertical-align: top;
}
.list ul li b {
    color: #CC0000;
}
.bookcontent {
    font-size: 14px;
    line-height: 1.8;
    padding: 0 20px 50px;
    word-wrap: break-word;
}

.list ul li a {
    color: #004E00;
    text-decoration: none;
}
.list ul li a:hover {
    color: #CC0000;
}
.make {background-image:url(http://js.kucaimi.cn/mb01/png/bookmarks.png); width:23px; height:109px; position:fixed; right:1px; top:158px;}
.readerListADbox{ width:970px;margin:0 auto;padding-bottom:10px;padding-top:10px;border:1px solid #f3f4ff;margin-bottom:5px;}
.ad_top{ float:left;margin-left:20px;margin-bottom:5px;border:1px solid #f3f4ff; width:300px; height:250px;}
