*{margin:0;padding:0;list-style:none;}select,input {font-size:12px;}img {border:0;}
a{color:#565656;text-decoration:none;}a:hover {color:#565656;text-decoration:underline;}em {font-style:normal;color:#c42805;}em a {color:#c42805;}
body{font-size:12px;color:#565656;font-family:"ÀŒÃÂ",Arial;background:#fff;}
.clear{clear:both;font-size:1px;line-height:1px;}
/* hotbook */
.hotbooks{width:300px;;padding:5px 0 0 24px;}
.titles{height:37px; background:url(../images/hotnav.gif) repeat-x left bottom;}
.titles li{float:left;width:100px;height:37px;line-height:37px;text-align:center;cursor:pointer;background:url(../images/hotcur2.jpg) no-repeat 0 -37px;}
.titles li.current{background-position:0 0;font-weight:bold;font-size:14px;}

.txt1 {float:left;width:298px;height:310px;padding-bottom:10px; border:1px solid #f0e1cc;border-top:0;background:#fbfaf5;}
.txt1 ul {float:left;width:298px;padding-left:5px;_padding-left:0px;line-height:15px;}
.txt1 ul li{float:left;width:270px;text-align:left; padding:8px 0px 5px 10px; border-bottom:1px dashed #e9e8e6;coler:#8d8d8d;}
.txt1 ul li h3 span{float:left;text-align:right;font-weight:bold;}
.txt1 ul li.nobg{border-bottom:0;}
.txt1 ul li img{border:1px solid #e2e1df;background:#fff;margin-left:5px; }
.txt1 ul li h3{font-size:12px;text-align:right;font-weight:normal;}
.txt1 ul li h3 a{color:#37609e;text-align:left;font-weight:none;}
.txt1 ul li a{color:#37609e;text-align:left;font-weight:none;line-height:23px;}
.txt1 ul li a.read img{border:0;margin:8px 0 0 13px;padding:0;}
.txts a{float:right;color:#37609e;text-align:right;font-weight:none;line-height:18px;padding-right:10px}

.txt2 {float:left;width:298px;height:310px;padding-bottom:10px; border:1px solid #f0e1cc;border-top:0;background:#fbfaf5;}
.txt2 ul {float:left;width:298px;padding-left:5px;_padding-left:0px;line-height:15px;}
.txt2 ul li{float:left;width:270px;text-align:left; padding:8px 0px 5px 10px; border-bottom:1px dashed #e9e8e6;coler:#8d8d8d;}
.txt2 ul li h3 span{float:left;text-align:right;font-weight:bold;}
.txt2 ul li.nobg{border-bottom:0;}
.txt2 ul li img{border:1px solid #e2e1df;background:#fff;margin-left:5px; }
.txt2 ul li h3{font-size:12px;text-align:right;font-weight:normal;}
.txt2 ul li h3 a{color:#37609e;text-align:left;font-weight:none;}
.txt2 ul li a{color:#37609e;text-align:left;font-weight:none;line-height:22px;}
.txt2 ul li a.read img{border:0;margin:8px 0 0 13px;padding:0;}
.txt2s a{float:right;color:#37609e;text-align:right;font-weight:none;line-height:18px;padding-right:10px}

.txt3 {float:left;width:298px;height:310px;padding-bottom:10px; border:1px solid #f0e1cc;border-top:0;background:#fbfaf5;}
.txt3 ul {float:left;width:298px;padding-left:5px;_padding-left:0px;line-height:15px;}
.txt3 ul li{float:left;width:270px;text-align:left; padding:8px 0px 5px 10px; border-bottom:1px dashed #e9e8e6;coler:#8d8d8d;}
.txt3 ul li h3 span{float:left;text-align:right;font-weight:bold;}
.txt3 ul li.nobg{border-bottom:0;}
.txt3 ul li img{border:1px solid #e2e1df;background:#fff;margin-left:5px; }
.txt3 ul li h3{font-size:12px;text-align:right;font-weight:normal;}
.txt3 ul li h3 a{color:#37609e;text-align:left;font-weight:none;}
.txt3 ul li a{color:#37609e;text-align:left;font-weight:none;line-height:22px;}
.txt3 ul li a.read img{border:0;margin:8px 0 0 13px;padding:0;}
.txt3s a{float:right;color:#37609e;text-align:right;font-weight:none;line-height:18px;padding-right:10px}

/*pasts*/
.pasts {padding:15px 0 0 14px; clear:both;}
.pasts .boxnrs{float:left;width:306px;padding-bottom:12px; border:1px solid #f0e1cc; background:#fffcf3;}
.pasts h3{width:260px;margin:16px auto 0;padding:10px 5px 0 5px;height:18px; text-align:right;font-size:12px;font-weight:normal; border-bottom:1px solid #e5e5e3; background:url(../images/timett.gif) no-repeat left top;}
.pasts h3 a,.past h3 a:hover{color:#e99e41;}

.pasts .lidiv{ padding-top:10px;}
.pasts ul{width:270px;margin:0 auto;}
.pasts ul li{width:270px; height:22px;padding-top:7px; background:url(../images/line.gif) repeat-x left bottom;overflow:hidden;white-space:nowrap;}
.pasts ul li i.icon03{margin:0 5px 0 3px;width: 12px;height: 10px;background:url(../images/icon03.gif) no-repeat center;display: inline-block;}
.pasts ul li span{color:#b2b2b2;}
.pasts ul li a{color:#2e6291;margin:0 3px;}
.pasts ul li.nobg{background:none;}

/* ”—«È¡¥Ω” */
#link{border:1px solid #e0dfdf;width:958px;margin-left:auto;margin-right:auto;margin-bottom:10px;height:100px;}
#link .leftlink{background:#fffcf3;width:14px;border-right:1px solid #e0dfdf;padding:0 10px 0 10px;float:left;height:100px;}
#link .leftlink span{font-size:14px;font-weight:bold;line-height:24px;text-align:center;color:#333;}
#link .rightlink{padding-left:23px;float:left;width:900px;margin:10px 0 10px 0;}
#link .rightlink ul{width:900px;}
#link .rightlink ul li{ float:left; width:100px; height:22px; overflow:hidden}
#link .rightlink ul li a,#link ul li a:link,#link ul li a:visited{ line-height:22px; color:#888}
#link .rightlink ul li a:hover{color:#fe8a01}